<footer class="site-footer">
    <div class="site-footer-bg" style="background-image: url('/static/images/backgrounds/site-footer-bg.png')">
    </div>
    <div class="container">
        <div class="site-footer__top">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <a href="index"><img src="/static/images/resources/footer-logo.png" alt=""></a>
                        </div>
                        <div class="footer-widget__about-text-box">
                            <p class="footer-widget__about-text">Tu tranquilidad es nuestra prioridad. En BeSeguro 
                                te acompañamos con asesoría experta y soluciones a la medida para cuidar lo que más importa.</p>
                        </div>
                        <div class="site-footer__social">
                            <a href="http://linkedin.com/company/beseguro" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/BeSeguroMx" target="_blank"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/beseguromx/" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/@beseguro" target="_blank"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__contact clearfix">
                        <h3 class="footer-widget__title">Contactanos</h3>
                        <ul class="footer-widget__contact-list list-unstyled clearfix">
                            <li>
                                <div class="icon">
                                    <span class="icon-email"></span>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:hola@beseguro.mx">hola@beseguro.mx</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-pin"></span>
                                </div>
                                <div class="text">
                                    <p>P.º de la Reforma 296, CDMX</p>
                                </div>
                            </li>
                        </ul>
                        <div class="footer-widget__open-hour">
                            <h3 class="footer-widget__open-hour-title">Horario de atención</h3>
                            <h3 class="footer-widget__open-hour-text">Lunes – Viernes: 9:00 am a 6:00 pm</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__gallery clearfix">
                        <h3 class="footer-widget__title">Instagram</h3>
                        <ul class="footer-widget__gallery-list list-unstyled clearfix">
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="/static/images/resources/footer-widget-gallery-img-1.jpg" alt="">
                                    <a href="#"><span class="fa fa-link"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="/static/images/resources/footer-widget-gallery-img-2.jpg" alt="">
                                    <a href="#"><span class="fa fa-link"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="/static/images/resources/footer-widget-gallery-img-3.jpg" alt="">
                                    <a href="#"><span class="fa fa-link"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="/static/images/resources/footer-widget-gallery-img-4.jpg" alt="">
                                    <a href="#"><span class="fa fa-link"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="/static/images/resources/footer-widget-gallery-img-5.jpg" alt="">
                                    <a href="#"><span class="fa fa-link"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="/static/images/resources/footer-widget-gallery-img-6.jpg" alt="">
                                    <a href="#"><span class="fa fa-link"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__newsletter">
                        <h3 class="footer-widget__title">Siguenos en redes</h3>
                        <p class="footer-widget__newsletter-text">No olvides seguirnos en nuestras redes sociales <br>
                            conoce datos relevantes de tus seguros.</p>
                            <br>
                            <br>
                        <div class="footer-widget__phone">
                            <div class="footer-widget__phone-icon">
                                <span class="icon-telephone"></span>
                            </div>
                            <div class="footer-widget__phone-text">
                                <a href="https://wa.me/5215520022112?text=Hola%2C%20estoy%20interesado%20en%20más%20información.%20Vi%20su%20sitio%20web%20y%20quisiera%20saber%20más." target="_blank">
                                    +52 55 2002 2112
                                </a>
                                <p>Centro de contacto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer__bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© All Copyright 2025 by <a href="#">BeSeguro.com.mx</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>