<section class="page-header">
    <div class="page-header-bg" style="background-image: url('/static/images/backgrounds/page-header-bg.jpg')">
                                                         
    </div>
    <div class="page-header-shape-1"><img src="/static/images/shapes/page-header-shape-1.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index-6">Inicio</a></li>
                <li><span>/</span></li>
                <li>{{title}}</li>
            </ul>
            <h2>{{subTitle}}</h2>
        </div>
    </div>
</section>