<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="/static/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendors/jarallax/jarallax.min.js"></script>
    <script src="/static/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/static/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/static/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/static/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/static/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static/vendors/nouislider/nouislider.min.js"></script>
    <script src="/static/vendors/odometer/odometer.min.js"></script>
    <script src="/static/vendors/swiper/swiper.min.js"></script>
    <script src="/static/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="/static/vendors/wnumb/wNumb.min.js"></script>
    <script src="/static/vendors/wow/wow.js"></script>
    <script src="/static/vendors/isotope/isotope.js"></script>
    <script src="/static/vendors/countdown/countdown.min.js"></script>
    <script src="/static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/static/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/static/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/vendors/vegas/vegas.min.js"></script>
    <script src="/static/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/static/vendors/timepicker/timePicker.js"></script>
    <script src="/static/vendors/circleType/jquery.circleType.js"></script>
    <script src="/static/vendors/circleType/jquery.lettering.min.js"></script>  